html {
  --blue: #1da1f2;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

main {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

a {
  cursor: pointer;
  color: var(--blue);
  text-decoration: none;
}

img {
  height: 175px;
  width: 175px;
  border-radius: 50%;
}

.name {
  font-size: 20px;
}

.bio,
.username {
  margin: 3px 0;
}
